.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    row-gap: 15px;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.hide {
    display: none;
}

.content-header {
    padding: 30px;
}

.up-arrow {
    display: fixed;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #414347;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 25px;
    height: 25px;
    border-radius: 25%;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.up-arrow:hover {
    background-color: #555;
}

.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 15px;
    column-gap: 15px;
    flex: 1;
}

@media screen and (max-width: 800px) {
    .content {
        flex-direction: column;
    }
    .main-content {
        flex: 100;
    }
    .up-arrow {
        bottom: 10px;
        right: 10px;
    }
    .products {
        flex-direction: column;
    }
}
