.checkbox-container {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.checkbox {
    width: 13px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    font-size: 12px;
    border-radius: 2px;
    user-select: none;
    background-color: white;
}

.checkbox-label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}
